[submodule "src/Libraries/assimp"]
	path = src/Libraries/assimp
	url = git@github.com:assimp/assimp.git
[submodule "src/Libraries/DirectXTex"]
	path = src/Libraries/DirectXTex
	url = git@github.com:microsoft/DirectXTex.git
[submodule "src/Libraries/entt"]
	path = src/Libraries/entt
	url = git@github.com:skypjack/entt.git
[submodule "src/Libraries/DirectX-Headers"]
	path = src/Libraries/DirectX-Headers
	url = git@github.com:microsoft/DirectX-Headers.git
[submodule "src/Libraries/DirectXMesh"]
	path = src/Libraries/DirectXMesh
	url = git@github.com:microsoft/DirectXMesh.git
[submodule "src/Libraries/imgui/imgui"]
	path = src/Libraries/imgui/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "src/Libraries/imgui/ImGuizmo"]
	path = src/Libraries/imgui/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
[submodule "src/Libraries/imgui/imgui-node-editor"]
	path = src/Libraries/imgui/imgui-node-editor
	url = git@github.com:thedmd/imgui-node-editor.git
