CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeSettings.json

imgui.ini
.vs
.vscode
build*/
out
bin
/src/Engine/Resources/Scenes/*
!/src/Engine/Resources/Scenes/gltf2
/src/Engine/Resources/Scenes/gltf2/*
!/src/Engine/Resources/Scenes/gltf2/sponza

