CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.filters
*.user
*.vcxproj
*.sln
*.make

imgui.ini
.vs
.vscode
.idea
cmake-build-*/
build*/
out
bin
bin-int
/src/Engine/Resources/Scenes/*
!/src/Engine/Resources/Scenes/gltf2
/src/Engine/Resources/Scenes/gltf2/*
!/src/Engine/Resources/Scenes/gltf2/sponza
!/src/Libraries/DirectXShaderCompiler/*

